#page-content-wrapper
  page-title(
    judgement-material-whether-or-not-show-loading='!isLoading',
    page-title='pageTitle')

  .page-content.inset
    .row(ng-if="posts.length > 0")
      .col-md-12
        panel(
          panel-title='リツイートランキング',
          posts='rankPosts',
          order-by-expression='retweetNum',
          order-by-direction='desc',
          limit-num='20')
        .interval-space
        panel(
          panel-title='新着',
          posts='posts',
          order-by-expression='createdAt',
          order-by-direction='desc',
          limit-num='10')

    loading(
      judgement-material-whether-or-not-show-loading='isLoading',
      judgement-material-whether-or-not-hide-page-content='posts.length')

